#featured-section {
    padding: 5rem;
  }
#feature-block {
    margin: auto;
    width: 60%;
    height: fit-content;
    display: flex;
    background: #9fa2a4;
  }
  #featured-section #feature-block img {
    width: 40%;
    border-radius: 3px;
    border-style: none;
  }
  #right {
    margin-left: 1rem;
    padding: 2rem;
  }
  .leaflet-container {
    width: 50%;
    height: 50vh;
  }




