#featured-section {
    padding: 5rem;
  }
#feature-block {
    margin: auto;
    width: 60%;
    height: fit-content;
    display: flex;
    background: #f0efeb;
    box-shadow: 5px 1px 5px 1px #d5d5d5;
  }
  #featured-section #feature-block img {
    /* width: 40%; */
    border-radius: 0px;
    border-style: none;
  }
  #right {
    margin-left: 1rem;
    padding: 2rem;
  }
 




